@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

:root {
  /* --main-color: linear-gradient(to left, #2857A4, #403066); */
  /* --main-color: linear-gradient(to left, #2857A4, #720e9e); */
  --main-color: linear-gradient(to left, #1d1160, #720e9e);
  --main-bg: #090909;
  /* --purple-text: #BA1EE455; */
  --blue-text: #0141FF55;
  --btn-gradient-right: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  --btn-gradient-left: linear-gradient(to right, #DA22FF 100%, #9733EE 51%, #DA22FF 0%);
  --white-shade: #999;
  --white-text: #fff;
  --radial-violet-gradient: radial-gradient(circle at 858.885px 187.519px, #BA1EE455, #0000000f);

  --radial-blue-gradient: radial-gradient(circle at 852.376px -28.2366px, #0141FF55, #0000000f);
  --radial-blue-gradient-reverse: radial-gradient(circle at -28.2366px 652.376px, #0141FF55, #0000000f);

  --radial-blue: radial-gradient(#0141FF55, #0000000f);

  --text-n-border-gradient: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%);
  /* --text-n-border-gradient: linear-gradient(90deg, #7CFC00, #eb367f); */

  --golden-box-shadow: rgb(255 255 255 / 15%) 0px 0px 0px 0.1rem;

  --golden-bg: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0));

  --metallic-grad: linear-gradient(180deg, #fff, #505050);
  --radial-metallic-grad: radial-gradient(#e0e0e0, #606060);
  --shield-grad: linear-gradient(90deg, #ffffff, #2f2f2f 50%);
  /* --moving-grad: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  --moving-grad: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #f81ce5, #7928ca, #eb367f);
  --black-btn-grad: linear-gradient(#1f1f1f, #000000 100%, #1f1f1f);
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.main-bg {
  background: var(--main-bg);
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.higherZ-index {
  z-index: 11;
}

/* text color  */
.blue-text {
  color: var(--blue-text);
}

.white-text {
  color: var(--white-text);
}

.white-shade {
  color: var(--white-shade);
}

.bold {
  font-weight: 600;
}

.box-border {
  box-shadow: var(--golden-box-shadow);
  background: var(--golden-bg);
}

.letter-spacing {
  letter-spacing: 0.15rem;
}

.text-shadow {
  text-shadow: -0.05rem -0.05rem 0 var(--white-shade);
}

.text-xxxl {
  font-size: 5rem;
}

.text-xl {
  font-size: 3.5rem;
}

.text-lg {
  font-size: 3rem;
}

.text-md {
  font-size: 2rem;
}

.text-sl {
  font-size: 1.5rem;
}

.justify-text {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  /* align-items: center; */
}

.text-grad {
  background: var(--text-n-border-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.grad-border {
  border-block: 0.1rem solid;
  border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f);
  border-image-slice: 1;
}

.nav {
  width: 100%;
  position: fixed;
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.85) 70%, transparent); */
  top: 0;
  z-index: 20;
}

.nav-links-wrapper {
  justify-content: space-between;
  padding: 2rem 3rem;
  position: relative;
  width: 100%;
  z-index: 10;
  overflow: hidden;
}

.nav-links-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;

  /* header blur code  */
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}

.nav-links {
  gap: 2rem;
}

.nav-links>div>a {
  text-decoration: none;
  cursor: pointer;
}

.full-screen {
  min-height: 100vh;
  width: 100vw;
}

/* main section styling  */

/* section 1 styling  */

.section-1 {
  /* background-image: url("../images/backgrounds/hector-j-rivas-1FxMET2U5dU-unsplash.webp"); */
  /* background: var(--radial-blue-gradient); */
  /* background: var(--radial-violet-gradient);
  background-size: cover;
  background-attachment: fixed; */
  /* background-position: center; */
  /* border: 0.1rem solid red; */
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

.section1-img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.section1-img-coontainer>img {
  object-fit: cover;
  width: 100vw;
  height: 80vh;

}

.section1-text-container {
  width: 60%;
  height: fit-content;
  left: 20%;
  top: 20vh;
  font-size: 1.5rem;
  text-align: center;
  /* border: 0.1rem solid red; */
}

/* .section1-text-container>h1 {} */

.navigator-left-arrow,
.navigator-right-arrow {
  top: 33vh;
  /* border: 0.1rem solid white; */
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.navigator-left-arrow {
  left: 4rem;
}

.navigator-right-arrow {
  right: 4rem;
}

.navigator-dots-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  bottom: 3rem;
}

.navigator-dots {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: #ffffff80;
  border-radius: 50%;
}

.selected-dot-background {
  background: #ffffff;
  transition: all 0.6s ease-in-out;
  transform: scale(1.2);
  animation: opacityChg 0.6s ease forwards;
}

.translate-right-to-left {
  animation: translateRtoL 0.6s ease 1;
}

@keyframes translateRtoL {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate-left-to-right {
  animation: translateLtoR 0.6s ease 1;
}

@keyframes translateLtoR {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacityChg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* section 1 ends here  */

/*  */

/* section 1 subsection starts  */

.section1-sub-section {
  height: fit-content;
}

.section-1-sub-section-header {
  min-height: 20vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.section1-sub-section-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  padding: 0 3rem 5rem 3rem;
  place-items: center;
  height: fit-content;
}

.sub-section-card {
  display: grid;
  height: 100%;
  /* place-items: center; */
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
  /* border: 1rem solid red; */
}

.sub-section-card__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* background: var(--radial-metallic-grad); */
  overflow: hidden;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  /* background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background: url("../images/icons/SkillGap1.png"); */
  /* background: red; */
  /* border: 1px solid whitesmoke; */
  /* border-block: 0.1rem solid;
  border-inline: 0.1rem solid;
  border-image-source: var(--metallic-grad);
  border-image-slice: 1; */
}

.sub-section-card__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
  /* background: var(--metallic-grad); */
  /* filter: drop-shadow(.5rem .5rem 1rem #e23); */
}

.sub-section-card__text-wrapper {
  display: grid;
  place-items: center;
}

/* truncating text  */

.sub-section-card__text-wrapper p {
  /* display: block; */
  /* white-space: nowrap; */
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sub-section-card__button-wrapper button {
  background-color: inherit;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
}

/* section 1 subsection ends  */

/*  */

/* section 2 starts  */
.section-2 {
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content !important;
}

.section-2>div:first-child {
  flex-direction: column;
}

.section-2>div:first-child>h3 {
  width: 100%;
}

.section-2>div:first-child>p {
  flex-direction: column;
  border-radius: 1rem;
  width: 75%;
  text-align: justify;
  line-height: 2.4rem;
}

.section-2>div:last-child {
  /* flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  margin-top: 3rem;
  /* gap: 3rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.section-2>div:last-child>div {
  /* width: 20%; */
  /* height: 25rem; */
  text-align: center;
  border-radius: 1rem;
  box-shadow: var(--golden-box-shadow);
  background: var(--golden-bg);
}

.inner-box-pd {
  padding: 3rem;
}

.outer-box-pd {
  padding: 2rem 3rem;
}

.small-box-pd {
  padding: 1rem;
}



/* section 2 ends here */


/* section 3 starts here */

.btn {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1rem 2rem;
  background: #000;
  border-radius: 3rem;
  transition: all 0.5s ease-in-out;
  outline: none;
  align-self: flex-end;
  overflow: hidden;
}


.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(to right, #eaeaea, #888);
  /* z-index: 0; */
  animation: btn-rotate 5s linear infinite;
}

@keyframes btn-rotate {
  0% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-span {
  position: relative;
  z-index: 100;
}


.btn::after {
  content: "";
  position: absolute;
  background: #000;
  inset: 0.1rem;
  border-radius: 3rem;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::before {
  cursor: pointer;
  background: linear-gradient(to right, #003ffc, #DA22FF);
}

.section-3 {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 5rem 0rem;
  gap: 5rem;
}

.section-3-security-cont {
  width: 100%;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.security-cont-header {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.white-text-grad {
  width: 100%;
  background: var(--metallic-grad);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.head-one,
.head-two,
.head-three {
  font-size: 8rem;
  font-weight: 1000;
  letter-spacing: -0.1rem;
}

.head-one {
  background: linear-gradient(90deg, #007CF0, #00DFD8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.head-two {
  background: linear-gradient(90deg, #7928CA, #FF0080);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.head-three {
  background: linear-gradient(90deg, #FF4D4D, #F9CB28);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}


.security-button-n-logo {
  align-items: center;
  gap: 5rem;
}

.security-btn-cont {
  width: fit-content;
  border-radius: 1rem;
}

.security-icon {
  font-size: 7rem;
}

.security-btn-cont>button {
  position: relative;
  width: fit-content;
  padding: 1rem 3rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  background: #000;
  animation: gradChange 8s ease infinite forwards;
}

@keyframes gradChange {
  0% {
    border-block: 0.1rem solid;
    border-image-source: linear-gradient(90deg, #007CF0, #00DFD8);
    border-image-slice: 1;
  }

  33% {
    border-block: 0.1rem solid;
    border-image-source: linear-gradient(90deg, #7928CA, #FF0080);
    border-image-slice: 1;
  }

  66% {
    border-block: 0.1rem solid;
    border-image-source: linear-gradient(90deg, #FF4D4D, #F9CB28);
    border-image-slice: 1;
  }

  100% {
    border-block: 0.1rem solid;
    border-image-source: linear-gradient(90deg, #007CF0, #00DFD8);
    border-image-slice: 1;
  }
}


.security-btn-cont>button::after {
  position: absolute;
  content: "";
  top: 15%;
  left: 10%;
  /* background: var(--text-n-border-gradient); */
  width: 80%;
  height: 70%;
  z-index: -1;
  filter: blur(30px);
  animation: gradBgChange ease 8s infinite forwards;
}

@keyframes gradBgChange {
  0% {
    background: linear-gradient(90deg, #007CF0, #00DFD8);
  }

  33% {
    background: linear-gradient(90deg, #7928CA, #FF0080);
  }

  66% {
    background: linear-gradient(90deg, #FF4D4D, #F9CB28);
  }

  100% {
    background: linear-gradient(90deg, #007CF0, #00DFD8);
  }
}


.section-3>div:nth-of-type(2) {
  display: grid;
  width: 100%;
  height: 90vh;
  place-items: center;
  user-select: none;
}

.fourEdge-content-box {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 55%;
  height: 70%;
  flex-direction: column;
  border-radius: 1rem;
  padding: 5rem;
  /* transform: translateX(10rem); */
  /* background: url("../images/icons/LT1.png"); */

}

.left-img-cont {
  height: 100%;
  width: 50%;
  position: absolute;
  left: -5rem;
  bottom: 0;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/LT1.png");
}

.right-img-cont {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  right: -10%;
  background-position: top;
  background-size: 50%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/RT2.png");
  /* opacity: 0.7; */
  /* transform: scale(); */
}

.section-3>div:nth-of-type(2)>div>h2 {
  width: 100%;
  text-align: center;
  /* background: var(--text-n-border-gradient); */
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
}

.section-3>.card-cont {
  width: 80%;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1.5fr;
  column-gap: 8rem;
  row-gap: 2rem;
}

.section-3>.card-cont>.card {
  /* 50 rem  */
  height: 40rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: rgb(255 255 255 / 15%) 0px 0px 0px 0.1rem;
  background: var(--golden-bg);
}


.card-text {
  text-align: center;
}

.section-3>.card-cont>.card>.card-text>h2 {
  width: 100%;
}

.section-3>.card-cont>.card>.card-image {
  width: 75%;
  height: 60%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: black;
  z-index: 1;
  /* background: var(--golden-bg); */
  border: 0.1rem solid rgb(255 255 255 / 15%);
  transform: translateY(1.2px);
  border-bottom: none;
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* section 3 ends  */

/*  */

/* section 4 starts  */

.section-4 {
  flex-direction: column;
  padding: 5rem 0;
  /* box-shadow: var(--golden-box-shadow); */
}

.section4-text {
  width: 80%;
  margin: 0 auto;
  /* box-shadow: var(--golden-box-shadow); */
  /* background: var(--golden-bg); */
}

.section4-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  column-gap: 4rem;
}

.section4-card {
  background: black;
  display: grid;
  grid-template-rows: auto 2fr 2fr;
  width: auto;
  height: 100%;
  margin-top: 0;
  border-radius: 2rem;
  position: relative;
}

.section4-card>div:last-child>h4 {
  /* border: 1px solid red; */
  /* background: var(--metallic-grad); */
  background: linear-gradient(#1f1f1f, #000000 60%, #1f1f1f);
  padding: 0.4rem 0;
  border-radius: 1rem;
}

.section4-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--text-n-border-gradient);
  height: calc(100%);
  width: calc(100%);
  z-index: -1;
  border-radius: 2rem;
  filter: blur(0.5rem);
}

.section4-card>div {
  padding: 0 1rem;
}

.section4-card>div:nth-child(1),
.section4-card>div:nth-child(2) {
  background: var(--golden-bg);
}



.section4-card>div:first-child>h3 {
  /* background: var(--text-n-border-gradient); */
  text-align: center;
  margin: 0;
}

.section4-card>div:first-child {
  display: grid;
  padding: 1rem 0;
  place-items: center;
}

.section4-card>div:last-child {
  background: black;
  /* padding-top: 1rem; */
  border-radius: 0 0 2rem 2rem;
}

.section-4>h2 {
  text-align: center;
  margin-top: 10rem;
}

.section-4>.table-cont {
  width: 80%;
  margin: 3rem auto 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-4>.table-cont>.table-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1.7fr 0.5fr 0.5fr 0.5fr;
  padding: 0.5rem 2rem;
  background: var(--golden-bg);
  /* border-top: 2px solid rgb(255 255 255 / 15%); */
  border-block-end: 0.1rem solid;
  border-image-source: linear-gradient(90deg, transparent, #f81ce5, #7928ca, #eb367f, transparent 95%);
  border-image-slice: 1;
}


/* section 5 starts here */

.section-5 {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0rem;
  gap: 10rem;
}

.section-5>div:first-child {
  position: relative;
  width: 70%;
  margin: 0rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #d4d4d4;
  padding: 4rem;
}

.section-5>div:first-child>h3 {
  width: 100%;
  /* background: var(--text-n-border-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */

}

.box-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  border-inline-start: 12px solid;
  border-block-start: 12px solid;
  /* border-image-source: linear-gradient(270deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%); */
  border-image-source: var(--metallic-grad);
  border-image-slice: 1;
  z-index: -1;
  /* animation: rotation 2s infinite ease-in-out both; */
}

.box-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  border-inline-end: 12px solid;
  border-block-end: 12px solid;
  /* border-image-source: linear-gradient(-270deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%); */
  border-image-source: var(--metallic-grad);
  border-image-slice: 1;
  z-index: -1;
  /* animation: rotation 2s infinite ease-in-out both; */
}

@keyframes rotation {
  0% {
    border-image-source: linear-gradient(0deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%);
  }

  50% {
    border-image-source: linear-gradient(150deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%);
  }

  100% {
    border-image-source: linear-gradient(0deg, #f81ce5, #7928ca, #eb367f, #d4d4d4 93%);
  }
}

/* section 5's testimonial section starts here */

.section-5>.testimonial-cont {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background: #090909;
  border-block: 0.1rem solid;
  border-image-source: linear-gradient(90deg, transparent, #f81ce5, #7928ca, #eb367f, transparent 100%);
  border-image-slice: 1;
}

.section-5>.testimonial-cont>.testimonial {
  position: relative;
  margin: 2rem auto;
  width: 50%;
  text-align: center;
}

/* section 5 ends   */

/*  */

/* section 6 starts  */

.section-6 {
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5rem;
}

/* 
.section-6>div:first-child {
  background: var(--golden-bg);
} */

.section-6>.section6-btn-cont {
  justify-content: center;
  gap: 2rem;
}

.section-6>.blog-card-cont {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr; */
  position: relative;
  /* gap: 2rem; */
  /* justify-content: center; */
  /* overflow-x: scroll; */
}

.section-6>.blog-card-cont>.blog-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr;
  /* gap: 2rem; */
  min-width: 25%;
  /* margin: 1rem; */
  padding: 1rem;
}

.section-6>.blog-card-cont>.blog-card h3 {
  /* background: linear-gradient(#101010, #252525, #101010); */
  background: var(--black-btn-grad);
  padding: 0.4rem 0;
  border-radius: 1rem;
  color: var(--main-bg);
  text-align: center;
}

.section-6>.blog-card-cont>.blog-card>div:last-child {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  text-align: justify;
  border-radius: 0 0 2rem 2rem;
}

.section-6>.blog-card-cont>.blog-card>div:first-child {
  min-height: 20rem;
}

.section-6>.blog-card-cont>.blog-card>div:first-child>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
}

.section6-text>h2 {
  margin: 3rem 0 0 0;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  background-color: #26262655;
  border-radius: 50%;
  padding: 1rem;
  text-align: center;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* section 6 ends here */


/* section 7 starts here */

.section-7 {
  width: 100%;
  padding: 5rem 0;
}

.section-7>div {
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.section-7>div>.questions-cont {
  width: inherit;
  height: fit-content;
  flex-direction: column;
  border-block: 0.1rem solid;
  border-inline-end: 0.1rem solid;
  border-inline-start: 0.1rem solid;
  border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f);
  border-image-slice: 1;
  padding: 0rem 2rem 2rem;
}

.section-7>div>.questions-cont>.questions {
  justify-content: space-between;
  align-items: center;
}

.answer {
  display: none;
}

.section-7>div>.questions-cont>.questions>div {
  padding: 5px;
  transition: linear 0.3s;
}

/* .section-7 > div > .questions-cont > .answer.hidden{
  display: none;
} */

.section-7>div>.questions-cont>.questions>div:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

/* section 7 ends here */

/* section-8 starts here */

.section-8 {
  width: 100%;
  padding: 4rem 0 2rem 0;
}

.section-8>.value-props {
  width: 100%;
  height: fit-content;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-8>.value-props>.values-cont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.section-8>.value-props>.values-cont>.values {
  display: grid;
  place-items: center;
}

.big-icon {
  font-size: 8rem;
}

footer>.footer-contents {
  width: 100%;
  background: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-items: start;
  padding: 1rem 3rem;
  text-align: center;
}

footer>.footer-contents>.contents>a {
  text-decoration: none;
}

footer>.footer-contents>.contents>a>p {
  transition: all 0.4s ease-in-out;
}

footer>.footer-contents>.contents>a>p:hover {
  color: var(--white-text) !important;
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


.translate-name-logo {
  transform: translateY(-1.9rem);
}

.logo-span-cont {
  position: relative;
}

.register-sign {
  /* transform: translateY(-1.8rem) translateX(-0.5rem); */
  font-size: 10px;
  position: absolute;
  right: -5px;
  top: 5px;
}

footer>.copyright-section {
  width: 100%;
  display: grid;
  place-items: center;
  /* background: #000; */
  padding: 2rem 0rem;
  border-block-start: 1.5px solid;
  border-image-source: linear-gradient(90deg, transparent, #f81ce5, #7928ca, #eb367f, transparent 100%);
  border-image-slice: 1;
}


/* spider  */

/* .spider {
  background-image: url("../images/icons/994bb69e0c76d1ec3d5775183e6c44b7.svg");

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white-shade);
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  bottom: 2rem;
  right: 3rem;
  padding: 2rem;
  border: 0.1rem solid var(--white-text);
} */

.card-shadow {
  box-shadow: 0 0 1.2rem 0.1rem #222;
}


/* section 3 square container  */

.section3-square-cont {
  width: 80%;
  margin: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.text-lt-tp {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  height: 100%;
}

.text-lt-bt {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 60%;
}

.text-rt-tp {
  height: 100%;
  text-align: right;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 60%;
  float: right;
}

.text-rt-bt {
  height: 100%;
  text-align: right;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 60%;
  float: right;
}

.square--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  /* background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05)); */
  /* background-position: center; */
  position: relative;
  background: transparent;
}


.square-inner-box {
  height: 100%;
  padding: 1rem 2rem;
  /* background: var(--radial-blue); */
  /* border: 0.1rem solid red; */
  border-block: 0.2rem solid;
  border-inline: 0.2rem solid;
  border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f);
  border-image-slice: 1;
  background: black;
}

.square--grid::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: var(--text-n-border-gradient);
  filter: blur(7rem) brightness(60%);
  z-index: -1;
}

/* animation: movingGrad 8s ease infinite; */
/* @keyframes movingGrad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

.text-xxxl {
  font-size: 5rem;
  font-weight: bold;
}

.square-icon {
  font-size: 8rem;
  width: 8rem;
  height: 8rem;
  background: var(--shield-grad);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.square-icon-cont {
  /* display: none; */
  margin: 0;
  padding: 0;
  width: 8rem;
  height: 8rem;
  top: 45%;
  left: calc(50% - 4rem);
  top: calc(50% - 4rem);
  z-index: 1;
}

.one,
.two,
.three,
.four {
  font-size: 8rem !important;
}


.one {

  right: 0;
  bottom: 0;
  /* border-left: 0.1rem solid white;
  border-top: 0.1rem solid white; */
  display: block;
  width: 15rem;
  float: right;
  text-align: center;
  padding: 2rem;
  /* transform: translateX(0.1rem) translateY(0.1rem); */
  border-image-source: var(--metallic-grad);
  border-block-start: 0.2rem solid;
  border-inline-start: 0.2rem solid;
  border-image-slice: 1;
  /* border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f); */
}

.two {
  left: 0;
  bottom: 0;
  /* border-right: 0.1rem solid white;
  border-top: 0.1rem solid white; */
  display: block;
  width: 15rem;
  float: right;
  text-align: center;
  padding: 2rem;
  /* transform: translateX(-0.1rem) translateY(0.1rem); */
  border-block-start: 0.2rem solid;
  border-inline-end: 0.2rem solid;
  border-image-source: var(--metallic-grad);
  border-image-slice: 1;
  /* border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f); */
}

.three {
  right: 0;
  top: 0;
  display: block;
  padding: 2rem;
  width: 15rem;
  text-align: center;
  /* border-left: 0.1rem solid white;
  border-bottom: 0.1rem solid white; */
  border-image-source: linear-gradient(180deg, #505050, #fff);
  /* transform: translateX(0.1rem) translateY(-0.1rem); */
  border-block-end: 0.2rem solid;
  border-inline-start: 0.2rem solid;
  border-image-slice: 1;
  /* border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f); */
}

.four {
  left: 0;
  top: 0;
  /* border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white; */
  display: block;
  padding: 2rem;
  width: 15rem;
  text-align: center;
  /* transform: translateX(-0.1rem) translateY(-0.1rem); */
  border-image-source: linear-gradient(180deg, #505050, #fff);
  border-block-end: 0.2rem solid;
  border-inline-end: 0.2rem solid;
  border-image-slice: 1;
  /* border-image-source: linear-gradient(90deg, #f81ce5, #7928ca, #eb367f); */
}
